p.error {
  background-color: var(--pink);
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: -5px;
  user-select: none;
  animation: slowshow 200ms ease-out 0s 1;
}