.react-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
  color: #242424;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.react-form.error {
  border: 4px solid #ff2e2e;
}

.react-form input[type=submit] {
  background-color: green;
  color: #fff;
  border: none;
  height: 26px;
  padding: 5px;
  border-radius: 6px;
}