#root {
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 40px;
  padding: 5px 40px;
  border-bottom: 2px solid #ffffffc7;
}

header h1 {
  font-size: 3em;
  margin: 0 auto 0 0;
}

header a {
  font-size: 1em;
  transition: all 200ms ease-out;
}

header a.active {
  color: var(--gold);
  transform: scale(1.2);
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 15px;
  margin-top: 20px;
  padding: 10px;
}

.card {
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #242424;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.card img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-bottom: 2px solid #242424;
}

.help-message {
  font-weight: 500;
}

q {
  color: var(--gold);
}