{
  "report-dir": "./src/tests/e2e/coverage",
  "include": ["src/**/*.{js,jsx,ts,tsx}"],
  "exclude": [
    "src/tests/**/*",
    "cypress/**/*"
  ],
  "reporter": ["lcov", "text"],
  "sourceMap": false,
  "instrument": false,
  "temp-dir": "./src/tests/e2e/coverage/.nyc_output"
}