@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.confirm-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  animation: fadeIn 200ms ease-out 0s 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

.confirm-overlay h1 {
  font-size: 2em;
}
.confirm-overlay h1 {
  font-size: 1.5em;
}